#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/ {
    zephyr,user {
		io-channels = <&adc1 5>;
	};

	gpio_keys {
		compatible = "gpio-keys";

		accel_interrup: adc_in1_pb4 {
			label = "FF";
			gpios = <&gpiob 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
			zephyr,code = <INPUT_KEY_3>;
		};
	};
    
    rgb_leds {
        compatible = "gpio-leds";

        rgb_red: rgb_0 {
            gpios = <&gpioa 6 GPIO_ACTIVE_LOW>;
            label = "Red RGB LED";
        };
        rgb_green: rgb_1 {
            gpios = <&gpioa 7 GPIO_ACTIVE_LOW>;
            label = "Green RGB LED";
        };
        rgb_blue: rgb_2 {
            gpios = <&gpioa 9 GPIO_ACTIVE_LOW>;
            label = "Blue RGB LED";
        };
    };

    aliases {
        red = &rgb_red;
        green = &rgb_green;
        blue = &rgb_blue;
        led0 = &blue_led_1; 	// This is LED1 as labeled STM32WL55JC board's 
		led1 = &green_led_2; 	// This is LED2 as labeled STM32WL55JC board's 
		led2 = &red_led_3; 	    // This is LED3 as labeled STM32WL55JC board's 
        ff0 = &accel_interrup;
    };


};

&adc1 {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

&i2c2 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>; // 400kHz
};

&usart1 {
	dmas = <&dmamux1 11 18 (STM32_DMA_PERIPH_TX | STM32_DMA_PRIORITY_HIGH)
		&dmamux1 1 17 (STM32_DMA_PERIPH_RX | STM32_DMA_PRIORITY_HIGH)>;
	dma-names = "tx", "rx";
	pinctrl-0 = <&usart1_tx_pb6 &usart1_rx_pb7>;
	pinctrl-names = "default";
	current-speed = <9600>;
	status = "okay";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&dmamux1 {
	status = "okay";
};

&gpiob {
    status = "okay";
};